# Datasets (these are too large for GitHub)
dataset/*.csv

# Trained Models (Small enough for GitHub, needed for Streamlit Cloud!)
# model/*.pkl

# Python artifacts
__pycache__/
*.py[cod]

# Virtual Environments
venv/
env/
.env

# Streamlit
.streamlit/
